@{
    ViewData["Title"] = "AboutUs";
}


<div class="page-title" id="ph-title"><h1>@ViewData["Title"]</h1></div>

<div class="page-body"><p>Put your "About Us" information here. You can edit this in the admin site.</p></div>

